.wrapper {
    height: 80px;
    width: 100vw;
    color: white;
    font-family: "Yatra One", serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid white;
}