#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding-right: 2rem;
  padding-left: 2rem;
  text-align: center;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: bisque;
}

header {
  width: 100%;
  height: 8vh;
  margin: 0;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: black;
}

.header-title {
  background: none;
  font-size: 1.5rem;
}

.header-subtitle {
  background: none;
  font-size: 1rem;
}

section {
  margin: 0;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wagie-box {
  width: 60%;
  height: 40%;
  background-color: whitesmoke;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.wagie-phrase {
  font-size: 36px;
  color: black;
}

.wagie-btn {
  height: 40px;
  width: 160px;
}

.wagie-phrase {
  margin: 0;
}
