@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Yatra+One&display=swap');


* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #FF6F00;
}